html , body , #root {
  
  margin: 0%;
  padding: 0%;
  background-color: white;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
  


}

.Home {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
.Palete {
  background-color: linear-gradient(to right, red, blue);
  display: flex;
  padding-top: 2rem;
}

.Right-Tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*_____________________For Emoji.js_______________________*/


.emoji-card:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.25);
}

.emoji-symbol {
  font-size: 2.2rem;
}

.emoji-label {
  margin-top: 0.5rem;
  font-size: 1rem;
}


@media (max-width: 768px) {
  .Palete {
    display: flex;
    flex-direction: column;
  }
  
  
}

